{% extends 'base.html.twig'%}
{% block title %}Page d'accueil!{% endblock %}
{% block body %}
<div class="container">
        <div class="card w-75" id='margT5'>
            <div class='row align-self-center'>
                <div class="card-body">
                    <h5 class="card-title">Bienvenue dans notre site : <strong>{{app.user.login}}</strong></h5>
                    <p class="card-text">Votre compte est identifié comme un compte : <strong>{{app.user.idType}}</strong>. Nous vous prions de prendre quelque temps pour lire les mentions légales
                    si vous ne les avez pas encore lues.</p>
                    <a href="{{path('About')}}" class="btn btn-primary">MENTIONS LEGALES</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id='margT5'>
        {{ form_start(form) }}
        <div class="container">
            <div class='row'>
                <div class='col-md-2'>
                    <label for="region">Choix de la région?</label>
                    {{form_row(form.Searchlocalite)}}
                </div>
                <div class='col-md-2'>
                    <label for="Competence">Choix de la competence?</label>
                    {{form_row(form.SearchCompetences)}}
                </div>
                <div class='col-md-2'>
                    <label for="Entreprise">Choix de l'entreprise?</label>
                    {{form_row(form.SearchEntreprise)}}
                </div>
                    <div class='col-md-2'>
                        <div class='row'>
                        <label for="remuneration">Remuneration ?</label>
                        <div class='col-md-11'>
                            {{form_row(form.max)}}
                        </div>
                        <div class='col-md-11' id='margT2'>
                            {{form_row(form.min)}}
                        </div>
                        </div>
                    </div>
                <div class='col-md-2'>
                    <label for="recherche">Recherche ?</label>
                    {{form_row(form.s)}}
                </div>
                <div class='col-md-1'>
                    <label for="Entreprise">Filtre :</label>
                    <button class="btn btn-dark">Filtrer</button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <div class="table-responsive" id='margT2'>
            <table class="table table-light">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Evaluation</th>
                        <th scope="col">Entreprise</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Compétences</th>
                        <th scope="col">Description</th>
                        <th scope="col">Location</th>
                        <th scope="col">Remuneration</th>
                        <th scope="col">Wish-list</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                {% for offre in Offre %}
                <tr>
                    <th scope="row">{{offre.IdOffre}}</th>
                    <td><a href="{{path('Evaluer')}}"><i class="far fa-heart fa-2x" data-bs-toggle="modal"></i></a></td>
                    <td><a href="{{path('voiroffre',{id: offre.IdOffre, slug: offre.slug})}}">{{offre.idEntreprise}}<a></td>
                    <td>{{offre.titre}}</td>
                    
                    <td>{% for d in offre.idCompetences %}{{d.Competences}}/{% endfor %}</td>
                    <td>{{offre.Description}}</td>
                    <td>{% for g in offre.idEntreprise.idLocalite %}{{g.region}}/ {% endfor %}</td>
                    <td>{{offre.remuneration}}</td>
                    <td><a href="{{path('add.wishlist',{id: offre.IdOffre, slug: offre.slug})}}" class="btn btn-dark">ADD</a></td>
                    <td><i class="fas fa-times fa-2x"></i></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='d-flex justify-content-center' id='margT5'>
        {{ knp_pagination_render(Offre)}}
    </div>
{% endblock %}