{% extends 'base.html.twig'%}

{% block body %}
{% for message in app.flashes('success') %}
<div class="container">
    <div class='alert alert-success'>
        {{message}}
    </div>
</div>
{% endfor %}
{% for wishlist in wishlist %}
<div class="container" id='margT2'>
    <div class="card">
        <h5 class="card-header">{{wishlist.idOffre.titre}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{wishlist.idOffre.idEntreprise.NomEntreprise}}</h5>
            <p class="card-text">Date de début : {{wishlist.idOffre.debutStage|date('d/m/Y')}}  /  Date de fin : {{wishlist.idOffre.finStage|date('d/m/Y')}}</p>
            <p class="card-text">Rémuneration : {{wishlist.idOffre.remuneration}} /  nombre de place disponible : {{wishlist.idOffre.nbPlace}}</p>
            <p class="card-text">Description :</p>
            <p class="card-text">{{wishlist.idOffre.Description | nl2br}}}</p>
            <p class="card-text">Compétences requises : {% for d in wishlist.idOffre.idCompetences %}{{d.Competences}}/{% endfor %}</p>
            <p class="card-text">Lieu : {{wishlist.idOffre.idEntreprise.adresse}}  ({% for g in wishlist.idOffre.idEntreprise.idLocalite %}{{g.region}}/ {% endfor %})</p>
            <div class="row">
                <div class="col-md-1">
                  <a href="{{path('voiroffre',{id: wishlist.idOffre.idOffre, slug: wishlist.slug})}}" class="btn btn-dark">Contacter</a>
                </div>
                <div class="col-md-1">
                    <form method="post" action="{{path('wishlistUsers.delete',{id: wishlist.idWishlist})}}" onsubmit="return confirm('Voulez-vous supprimer?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wishlist.idWishlist)}}">
                        <button class="btn btn-dark">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}