{{form_start(form)}}
    <div class='container'>
        <div class='row' id='margContainer'>
        <h3>Entreprise :</h3>
            <div class='col-md-13' id='CadreColor'>
                <div class='row'>
                    <div class='col-md-6'>
                        {{form_row(form.nomEntreprise)}}    
                    </div>
                    <div class='col-md-6'>
                        {{form_row(form.infoEmail)}}
                    </div>
                </div>
                <div class='row' id='margT2'>
                    <div class='col-md-6'>
                        {{form_row(form.adresse)}}
                    </div>
                    <div class='col-md-6'>
                        {{form_row(form.nbDeStagiairesCesi)}}
                    </div>
                </div>
                <div class='row'>
                    <div class='text-center' id='margT3'>
                        <button type="submit" class="btn btn-dark">{{button|default("Créer")}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{form_end(form)}}

    
    