{% extends 'base.html.twig'%}

{% block body %}
    <div class='text-center' id='margT3'>
        <h1>Entreprise :</h1>
    {% for message in app.flashes('success') %}
        <div class="container">
            <div class='alert alert-success'>
                {{message}}
            </div>
        </div>
    {% endfor %}
    </div>
    
    {{ include('admin/FormEntreprise.php.twig',{form: form, button:'Créer'}) }}
    {{form_start(formSecteur)}}
    <div class='container'>
        <div class='row' id='margContainer'>
        <h3>Ajouter Secteur :</h3>
            <div class='col-md-13' id='CadreColor'>
                <div class='row'>
                    <div class='col-md-6'>
                        {{form_row(formSecteur.idEntreprise)}}
                    </div>
                    <div class='col-md-6'>
                        {{form_row(formSecteur.secteurDActivite)}}
                    </div>
                </div>
                <div class='row'>
                    <div class='text-center' id='margT3'>
                        <button type="submit" class="btn btn-dark">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{form_end(formSecteur)}}
    {{form_start(formLocalite)}}
    <div class='container'>
        <div class='row' id='margContainer'>
        <h3>Ajouter Localite :</h3>
            <div class='col-md-13' id='CadreColor'>
                <div class='row'>
                    <div class='col-md-6'>
                        {{form_row(formLocalite.ville)}}
                    </div>
                    <div class='col-md-6'>
                        {{form_row(formLocalite.region)}}
                    </div>
                </div>
                <div class='row' id='margT2'>
                    <div class='col-md-6'>
                        {{form_row(formLocalite.codePostal)}}
                    </div>
                    <div class='col-md-6'>
                        {{form_row(formLocalite.idEntreprise)}}
                    </div>
                </div>
                <div class='row'>
                    <div class='text-center' id='margT3'>
                        <button type="submit" class="btn btn-dark">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{form_end(formLocalite)}}
    <div class='container' id='margT5'>
        {{ form_start(formSearch) }}
        <form>
            <div class='row'>
                <div class='col-md-2'>
                    <label for="ID">Choix de l'id ?</label>
                    {{form_row(formSearch.idSearch)}}
                </div>
                <div class='col-md-2'>
                    <label for="region">Choix de la région ?</label>
                    {{form_row(formSearch.Searchlocalite)}}
                </div>
                <div class='col-md-2'>
                    <label for="Competence">Choix du secteur?</label>
                    {{form_row(formSearch.SearchSecteur)}}
                </div>
                <div class='col-md-2'>
                    <label for="Entreprise">Choix du nombre CESI?</label>
                    {{form_row(formSearch.nbCesi)}}
                </div>
                <div class='col-md-2'>
                    <label for="Entreprise">Choix de l'entreprise?</label>
                    {{form_row(formSearch.s)}}
                </div>
                <div class='col-md-1'>
                    <label for="Entreprise">Filtre :</label>
                    <button class="btn btn-dark">Filtrer</button>
                </div>
            </div>
        </form>
        {{ form_end(formSearch) }}
        <div class="table-responsive">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Company</th>
                        <th scope="col">mail</th>
                        <th scope="col">Nombre de stagiaire CESI</th>
                        <th scope="col">Secteurs</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Region</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for entreprises in entreprises %}
                <tr>
                    <th scope="row">{{entreprises.IdEntreprise}}</th>
                    <td>{{entreprises.NomEntreprise}}</td>
                    <td>{{entreprises.infoEmail}}</td>
                    <td>{{entreprises.nbDeStagiairesCesi}}</td>
                    <td>{% for d in entreprises.idSecteur %}{{d.secteurDActivite}}/{% endfor %}</td>
                    <td>{{entreprises.Adresse}}</td>
                    <td>{% for g in entreprises.idLocalite %}{{g.region}}/ {% endfor %}</td>
                    <td><a href="{{path('admin.entreprise.edit',{id: entreprises.idEntreprise})}}" class="btn btn-dark">Editer</a></td>
                    <td><form method="post" action="{{path('admin.entreprise.delete',{id: entreprises.idEntreprise})}}" onsubmit="return confirm('Voulez-vous supprimer?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entreprises.idEntreprise)}}">
                        <button class="btn btn-dark">Supprimer</button>
                    </form></td></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='d-flex justify-content-center' id='margT3'>
        {{ knp_pagination_render(entreprises)}}
    </div>
{% endblock %}