{% extends 'base.html.twig'%}

{% block body %}
    <div class='text-center' style='margin-top: 3%;'>
        <h1>Entreprise :</h1>
        {% for message in app.flashes('success') %}
        <div class="container">
            <div class='alert alert-success'>
                {{message}}
            </div>
        </div>
    {% endfor %}
    </div>
    
    {{ include('admin/FormEntreprise.php.twig', {form: form, button:'Créer'}) }}
    <div class='container' style='margin-top:5%;'>
        <form>
            <div class='row'>
                <div class='col-md-2'>
                    <label for="ID">Choix de l'id?</label>
                    <input class="form-control" id="ID" type="text" placeholder="Search..">
                </div>
                <div class='col-md-2'>
                    <label for="region">Choix de la région?</label>
                    <input class="form-control" id="region" type="text" placeholder="Search..">
                </div>
                <div class='col-md-2'>
                    <label for="Competence">Choix de la competence?</label>
                    <input class="form-control" id="Competence" type="text" placeholder="Search..">
                </div>
                <div class='col-md-2'>
                    <label for="Entreprise">Choix de l'entreprise?</label>
                    <input class="form-control" id="Entreprise" type="text" placeholder="Search..">
                </div>
                <div class='col-md-1'>
                    <label for="Entreprise">Filtre :</label>
                    <button type="button" class="btn btn-dark">Valider</button>
                </div>
            </div>
        </form>
        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Company</th>
                    <th scope="col">mail</th>
                    <th scope="col">Nombre de stagiaire CESI</th>
                    <th scope="col">Adresse</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for entreprises in entreprises %}
            <tr>
                <th scope="row">{{entreprises.IdEntreprise}}</th>
                <td>{{entreprises.NomEntreprise}}</td>
                <td>{{entreprises.infoEmail}}</td>
                <td>{{entreprises.nbDeStagiairesCesi}}</td>
                <td>{{entreprises.Adresse}}</td>
                <td><a href="{{path('admin.entreprise.edit',{id: entreprises.idEntreprise})}}" class="btn btn-dark">Editer</a></td>
                <td><form method="post" action="{{path('admin.entreprise.delete',{id: entreprises.idEntreprise})}}" onsubmit="return confirm('Voulez-vous supprimer?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entreprises.idEntreprise)}}">
                    <button class="btn btn-dark">Supprimer</button>
                </form></td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}