{% extends 'base.html.twig'%}

{% block body %}
    <div class='text-center' style='margin-top: 3%;'>
        <h1>Comptes :</h1>
    </div>
    {% for message in app.flashes('success') %}
        <div class="container">
            <div class='alert alert-success'>
                {{message}}
            </div>
        </div>
    {% endfor %}
    
    {{ include('admin/FormCompte.php.twig',{form: form, button:'Créer'}) }}
    <div class='container' style='margin-top:5%;'>
        {{ form_start(formSearch) }}
        <form>
            <div class='row'>
                <div class='col-md-2'>
                    <label for="ID">Choix de l'id ?</label>
                    {{form_row(formSearch.idSearch)}}
                </div>
                <div class='col-md-2'>
                    <label for="region">Choix du Centre ?</label>
                    {{form_row(formSearch.SearchCentre)}}
                </div>
                <div class='col-md-2'>
                    <label for="Competence">Choix de la Promo ?</label>
                    {{form_row(formSearch.SearchPromo)}}
                </div>
                <div class='col-md-2'>
                    <label for="Entreprise">Choix du type ?</label>
                    {{form_row(formSearch.SearchType)}}
                </div>
                <div class='col-md-2'>
                    <label for="recherche">Recherche du login ?</label>
                    {{form_row(formSearch.s)}}
                </div>
                <div class='col-md-1'>
                    <label for="Entreprise">Filtre :</label>
                    <button class="btn btn-dark">Filtrer</button>
                </div>
            </div>
        </form>
        {{ form_end(formSearch) }}
        <div class="table-responsive">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Login</th>
                        <th scope="col">Email</th>
                        <th scope="col">Type</th>
                        <th scope="col">Centre</th>
                        <th scope="col">Promo</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                {% for Utilisateur in Utilisateur %}
                <tr>
                    <th scope="row">{{Utilisateur.idUtilisateur}}</th>
                    <td>{{Utilisateur.Nom}}</td>
                    <td>{{Utilisateur.Prenom}}</td>
                    <td>{{Utilisateur.login}}</td>
                    <td>{{Utilisateur.Email}}</td>
                    <td>{{Utilisateur.idType}}</td>
                    <td>{{Utilisateur.idCentre}}</td>
                    <td>{{Utilisateur.idPromo}}</td>
                    <td><a href="{{path('admin.compte.edit',{id: Utilisateur.idUtilisateur})}}" class="btn btn-dark">Editer</a></td>
                    <td><form method="post" action="{{path('admin.compte.delete',{id: Utilisateur.idUtilisateur})}}" onsubmit="return confirm('Voulez-vous supprimer?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Utilisateur.idUtilisateur)}}">
                        <button class="btn btn-dark">Supprimer</button>
                    </form></td></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='d-flex justify-content-center' style='margin-top: 5%;'>
        {{ knp_pagination_render(Utilisateur)}}
    </div>
{% endblock %}